run-name: Advance build periodically
permissions:
  id-token: write
  contents: write
on:
  schedule:
    # Run once per hour, at an arbitrary non-round-number minute to try to
    # dodge the high load on GitHub Actions that happens at the beginning of
    # each hour and leads to jobs being delayed.
    - cron: "41 * * * *"
concurrency:
  group: ${{ github.workflow }}
jobs:
  incrementally-build-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      # At the time of writing, we need to update npm to 11.5.1 or later to
      # get support for Trusted Publishing via GitHub Actions. In future, once
      # the image and/or setup-node action give us that out of the box, we can
      # delete this step (and maybe also stop using setup-node if ubuntu-latest
      # contains a recent enough npm version).
      - name: Update npm
        run: npm install -g npm@latest

      # (So we can diagnose any breakages caused by new Node or npm releases)
      - name: Print Node & npm versions
        run: |
          node --version
          npm --version

      - run: |
          node buildAndRelease.js
