run-name: Advance build periodically
permissions:
  id-token: write
  contents: write
on:
  schedule:
    # Run once per hour, at an arbitrary non-round-number minute to try to
    # dodge the high load on GitHub Actions that happens at the beginning of
    # each hour and leads to jobs being delayed.
    - cron: "41 * * * *"
concurrency:
  group: ${{ github.workflow }}
jobs:
  incrementally-build-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
      - name: Update npm
        run: npm install -g npm@11
      - run: |
          node buildAndRelease.js
